@import url("https://fonts.googleapis.com/css2?family=Mulish:wght@400;500;600;700&family=Nunito:wght@600;700&display=swap");
@import-normalize;

html {
  box-sizing: border-box;
  overflow-x: hidden;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  min-height: 100vh;
  font-family: Mulish, sans-serif;
  font-size: 14px;
  font-style: normal;
  font-weight: 400;
  line-height: 1.4;
  color: #121212;
  background: #ffffff;
  overflow-x: hidden;
}
* {
  margin: 0;
  padding: 0;
}
ul,
ol {
  list-style: none;
}

img {
  display: block;
  max-width: 100%;
  height: auto;
}

a,
button {
  display: block;
  background: none;
  border: none;
}
a {
  text-decoration: none;
}

svg {
  display: block;
  height: 1em;
  width: 1em;
}
